@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Raleway, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.fade-in {
  animation: fade 0.75s ease-in;
}

@keyframes fade {
  0% {
    opacity:0;
  }
}

.slide-down{
  animation: slide-down 1s ease-in-out;
}

@keyframes slide-down {
  0% {
    transform:translateY(-100%);
  }
  100% {
    transform:translateY(0%);
  }
}

.grow-down{
  animation: grow-down 0.7s ease-out forwards;
}

@keyframes grow-down {
  0% {
    transform:translateY(-20%);
  }
  100% {
    transform:translateY(0%);
  }
}

.slide-up{
  transform:translateY(70%)
}

.slide-up:hover{
  animation:slide-up 0.5s ease-in-out;
  animation-fill-mode:forwards;
}

@keyframes slide-up {
  0%{
    transform:translateY(70%)
  }
  100%{
    transform:translateY(0%)
  }
}

.animate-spin {
  animation: spin 1s 1;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
